<div [id]="'consumer-editor'" class="consumer-block-editor">
    <div class="content pep-border-bottom">
        <div class="title-lg ellipsis">
            <span>Consumer Configuration</span>
        </div>
    </div>
    <context-resource [contextResource] = "pageConsume?.Context?.Resource" (contextChange)="onContextChange($event)">
    </context-resource>
    <addon-filter-target [pageFilter] = "pageConsume?.Filter" [target]="'consumer'" (setTargetFilter)="onFilterChange($event)"> 
    </addon-filter-target>
</div>


