<generic-list *ngIf="visibleComponent === 'list'" [title]="'Json Filters'" [viewType]="'table'" 
	[allowMultipleSelection]="true" [inline]="true" [dataView]="listDataView" [listData]="blockFilters"
	[getSelectActions]="getActions">
	<div right-buttons>
		<pep-button [value]="'Add'" [iconName]="'number_plus'" [iconPosition]="'end'" [sizeType]="'sm'"
			[styleType]="'strong'" [classNames]="'pep-spacing-element'" (buttonClick)="add()">
		</pep-button>
	</div>
</generic-list>

<add-block-filter *ngIf="visibleComponent === 'add'" (addBlockFilter)="onAddingFilter($event)">
</add-block-filter>