<generic-list style="overflow: auto; height: 100%;" *ngIf="visibleComponent === 'list'" [viewType]="'table'"
	[allowMultipleSelection]="true" [inline]="true" [dataSource]="listDataSource" [listData]="blockFiltersArray"
	[getSelectActions]="getActions"> Block filters list
	<div right-buttons>
		<pep-button [value]="'Add block filter'" [iconName]="'number_plus'" [iconPosition]="'end'" [sizeType]="'sm'"
			[styleType]="'strong'" [classNames]="'pep-spacing-element'" (buttonClick)="add()">
		</pep-button>
	</div>
</generic-list>

<add-block-filter *ngIf="visibleComponent === 'add'" (addBlockFilter)="onAddingFilter($event)">
</add-block-filter>